 
.icon-book {
	background-image: url('png/book.png');
	background-repeat: no-repeat;
}

 
.icon-bookmark {
	background-image: url('png/bookmark.png');
	background-repeat: no-repeat;
}

 
.icon-briefcase {
	background-image: url('png/briefcase.png');
	background-repeat: no-repeat;
}

 
.icon-edit {
	background-image: url('png/edit.png');
	background-repeat: no-repeat;
}

 
.icon-envelope {
	background-image: url('png/envelope.png');
	background-repeat: no-repeat;
}

 
.icon-file {
	background-image: url('png/file.png');
	background-repeat: no-repeat;
}

 
.icon-gear {
	background-image: url('png/gear.png');
	background-repeat: no-repeat;
}

 
.icon-github {
	background-image: url('png/github.png');
	background-repeat: no-repeat;
}

 
.icon-globe {
	background-image: url('png/globe.png');
	background-repeat: no-repeat;
}

 
.icon-institution {
	background-image: url('png/institution.png');
	background-repeat: no-repeat;
}

 
.icon-mortar-board {
	background-image: url('png/mortar-board.png');
	background-repeat: no-repeat;
}

 
.icon-music {
	background-image: url('png/music.png');
	background-repeat: no-repeat;
}

 
.icon-phone {
	background-image: url('png/phone.png');
	background-repeat: no-repeat;
}

 
.icon-star-o {
	background-image: url('png/star-o.png');
	background-repeat: no-repeat;
}

 
.icon-th-list {
	background-image: url('png/th-list.png');
	background-repeat: no-repeat;
}

 
.icon-user {
	background-image: url('png/user.png');
	background-repeat: no-repeat;
}

