 
.icon-book {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAAA8klEQVQoU6WSgQ2CMBBFYQOdQDZQJxA3cATcACeQEXACcQOcQDaQEdhAnUD/I1clDQlNbPIDPe7d/V6Joz9W7LGJ9ueAenvldD5cKHgMgA/KKX34beCFyiNFMsUW0lpqh/BKgbsBpZ7PEThX7CVxvHoItwos7SPv/gKg60lqpHwIO8uVPiB/0XUnbe35HVimQMiUsTyTOil1nbGxGenmhxgk86ilBJhKjwCQFO43MaY/cyGF3C3wXMIl52+A8c8Up9bVIG4CtxEwU2b8Y/c6LFhpk5oyB2PjZnamujMsGlGo74wFgskUaQ0Kl+f/2wH8L+UD270uEbdDQyQAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}

 
.icon-bookmark {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAQCAYAAADAvYV+AAAAXElEQVQoU2NkIAEwAtUuAGJ5YvSAFP8nRiFIzahi5JCiSmg8xBZR2ExeCFRYAMQBQDwfnzNAChOQFIDYcA3IJqMrhOlxADI2ADE/SDHISgEgbsCTRgxANoIUEw0AuisVVDAmmBMAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}

 
.icon-briefcase {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAkUlEQVQ4T2NkwAQBQKH1WMRBQoFAvAFZjhGLwgagGMiQAjS5CVDNIHk4ABkAUpyPJKYAZAsA8QU0AwyA/A9A/ABJfCLIAJAgPw4nExL+ADLgPyFV+OQHhwEOtPKCI9Dg/VDDkdko9uELA0WgSlCUggAo6u5jc+ngCERKEtJHWFJGT/fERswEbJmJWM1gdRQbAAC+xBnJ7nsHcgAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}

 
.icon-edit {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA80lEQVQ4T6WSAQ3CMBBFNwUgYThAwlAAOGAKAAXgAFDAHAAKmIRJAAdDAfzXXEkJWbdkl/y0S++/Xu+WJgMjlX8s7aRpD9bScs5ab1IJoDTzpgPQ6LyWFtLFcgsAb2kmVR0AKr1Lp6CKZ18A5qvpoLUwSN0H4M08FTPfLymTmi5Amzm3fiQxgH8zzWNC/uavmWe0AbyZUTGdkZX9Y44BSFxLW4n90VY8VEM/XLRVgImRVdJEYvb8A3vz+dUBeCMJJPvItFnZB+PDTJTSIwA5AOXN7TBg/G3pC/PPA6ADEDSKA5Lagpu5zFfj8jwgdnP0bDDgA37hQIGLpIMTAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}

 
.icon-envelope {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAx0lEQVQ4T2NkoBAwUqifAWRAABDnk2nQRJABH4CYn0wDPoAMeADE8mQa8BBkgAEQHyDDFR+BehxgBoAcsACI9Yl0yUWgugSQWpAB/4G4AYgboXQ9AUNg6kB66mEGgPRcAOJAIFaAugY9XB5CbQWF2Xqo1+EugFkKihGQyQuhNCx6J0L5IGeDXCgA04DsAmSXbwByEqGuAYmDbJ0PxKA0gwJwGQBSBHINyCAQAGmE24psAj4D0C3DyqeKAQXY/EaU9cC0Q3FuBAAP9iTpVHbbeAAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}

 
.icon-file {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAc0lEQVQ4T2NkYGC4AMT6QIwLMAIlDKDqMNSAJP/j0QySAqk5AMQLoBhFOSkG2AN1JqIbQqoBINtRDCHWgASgRgUkt08Asj/A/EcoDAqwBOBHmBgxLsAWxgeBgg7EumDUAOzJdLgFIqHsjC0UJgIFQSmUAQDI1SYRLzXoNwAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}

 
.icon-gear {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA9klEQVQ4T62TjQ0BQRCFXQV0gArQgQ5QgesAFVACFTgVoAM6oIPTARXwPpmRuUtOLmGTyc7uzL6dNz9J48eVVLxPdT8120L7peqfCDCWU0uSSQ6SkT2a2HlltjyCOQA/bs3Ab/3g5A86urtLura/XRxgLX1WMx0eUQGAA+jNAHI2Sr1wt5E+L1Mg/LYEjr4GUjxx3C/NAJ1McnQ7FJ6l0DGS0LjKPkQ3xOEvAPxG1j1MgKso3IzCSTvyqQJ6OYk40BexpDud08jtb2WExt6Qr9pj6QibRaUeFlHuUVS1ciYHn4XYyrR4YS6+DZNzpXFqDVPMTW39BW1nNhE31U/CAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}

 
.icon-github {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABJUlEQVQ4T6WTjW0CMQxGywRlA2CDMgEwQcsEvRHKBBwbwATQCSgTcJ0AOkHZADaA70X2yYoCqtRIn5Jz4uef5DpP/xydzL+r71epCvaL1iupKcWKgLEObCUgpXGUcSIBbIcDcN7/oRqcBxECgIi/NrP5Ir1JJwP2NdcSQdZSY5mkbQBszu0wAHfME6oMgH0oUVICQBxJ3xYld/RvMj3bx8ICJ8A1N94jhGA7rSkzAWjMs8RVfTxwZusk9aRPqcpLYJMe3Bs091AqobbIAKhxJqUGhUG63IC/Ed5D4xlgxHkpjSUaOpW+DLDR/B5gbfoOYCY9HConB4daa7/mHwvSvsb4lB1Ck9oUtXYA10wpxaccAqYsyMYPAqbMJh7ydf43ls48tN0AtH06EeSzgcYAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}

 
.icon-globe {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABKElEQVQ4T6WS7VGCMRCEpQKlAqECoAJeK8AOgArECoQKwAqECsAKgA7sQO1AK9B9MnfMJQT/eDM7SS63ex9J6+qf1ir4NzqPhEnwf2n/LBxquaJAo4Ct4D4IfeHWiG9a7wQET+bBkPfCo7C2oHutT0I7iEDuRhEEKPs9kF0dgZXASgz7nkBlVJIMgbllos+ZX9gKkay0QjWIYQOBlpIAikPhKDSFAEdEmE28W1jiJPBjpLP+zL/TystEe/VqogABPmn2D8K3sKxUlQl4Cx5HRkrEf10h48pamMvBgKJBXgtTgfmUlg2RIX1cyEZLG6uGFxoL2bDLj1RmYgY8IQN+EXj/jp1TbPmV6T/2DREf7/8pNJFcCnCmHYInoRRE+IWHsryaQC3mT98vpgw/EQsBfkEAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}

 
.icon-institution {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAYAAAAbBi9cAAAA3klEQVQ4T+2TYQ0CMQyF7xSAA3AADuAUgIRDATjgUAA4OBzggMMBEsABKID3kTVpLoxc9oc/NHnZ1nav7drlWVzGMi2FuXAUDkITc89bhr7OM2ElQNSWqxS7QHr3RiPy0SHrIrXPEqKLMOpyM+JDlgVElVAKg0Syje7VVhrlQNYTbgL1W5Zn7SndbMQj6EOgCWSU+cdudJ4IRGB/Chni422o1wIBplbFn+gHb8R/2grD0CFaWoaOVGFvNtR0Cx++yx6FdQ3Fp79l3f22vkcAIoaKYUsVhncB0TOVwd0rXjKnRKECypkzAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}

 
.icon-mortar-board {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAQCAYAAAD52jQlAAABF0lEQVQ4T7WUjQ0BQRCFXQWUQAV0QAeUQAWUQAV0IDqgAqcCSjgdUAHvS2Zl7qzNkphksn+z33s7LorWH6LIYE5UM1Z2laXyoLyk7sWgHYMAI2NRaXOv3MUEAhQXuAEyynDvS24mgAivaAHlScMvQZ/KEZgFp7jD5fxH+Mm5rXxPaQE/wFQ5MJF+QoSn8mQSh6/w0KV2ATMC4xJrXoAQ8wBhZI0481p4KIc4LZVHU2ePNQK4AUL/EWFOvH1BvqcBtFLhuqmudWXuUsZqKnybuCRxt41AY1t3bXK3Ft46TgAulEsb2wn4VWf0GyMfoQ+d8GmMXAVzv+YI8dLGqGZwStPPVthLuMs68tCN3Wg6ywL5opx/qa+hT28cOWHav2kBAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}

 
.icon-music {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAz0lEQVQ4T2NkoBAwkqDfAKjWHogDgHgjEE8A6SVkgANQjT9UkwKSZQeBbJAcVgMEgOL9UE0gNjaA14AGoI56Al6jvwEXgS5aAMQHoF4D+R9nGMC8AArpDVBND5C8BJInaABcAZawoL8BoKiMh/r9A5AG8UHpB28YIHvhAlCxPppXMKIRlkxBNjgCsQLMBiCNzYCJQPECkKEgpyyAOhHZErgNUCcnIHkBFDMgPWAAMgBkKz+aE0FRCMo0BAEsMBqAKkE57SMQg2wAOQ9kMEEAAHTCLBG2sIf/AAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}

 
.icon-phone {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAQCAYAAADNo/U5AAAAxElEQVQoU2NkIAMwQvVMANL6QJwIxA8ImQPS1ADE9VCFC4F0AjGaPgAV8SMpdASyD+DTCLLpP5qCQCB/AyFNIAX+UEUgPy0gxnkgP8yHKjQE0heI0SQADTGQv0B+AfkJL4AFeQBQ1XqoSpDzQM7ECWCaQApAiuOxaFSAOh8kD4oSBmRN6BofAAUKgLgBiA2ghoGcX4iuCSQHSh35eFzXiE0TSL0D1AZ7NM0fQbbi0gRTC3JWAtR5oKgAueIBIU1YXUmWJgB76R7hYyR6BgAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}

 
.icon-star-o {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAeElEQVQYV2NkwAQOQKEDyMKMaGoUoApACh/A5NAVTQBKLADiAiBOQFYE4oB0gsAFIAYpBCkygIodAJkkgCTxAcl6uDjMOpgA3Aokaz8guwnkFpjVB6CKwJqQTdoP5H8EYpACkBv5gdgQWRHIkSAMMg0GQKaAPHIBABwZF3oLR/pGAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}

 
.icon-th-list {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAsUlEQVQ4T2NkoBAwAvVvAGJ+JHMmAtkXgHg+EWZ/ABnwH01hI5B/AIj3E2EAA1UMKADaJIBkG8hLD4AYJE4IgL2gAMTySCovAtkfgNgBi/fQDXwIMgCkGDkQSQkD6gQiugsKobFwnlAAAOU/grwACkADqGKQYaA0AAKgsAFhfOACyIAJQKyPpAoUBrCEhBw72AwCGzDwCQnkBVgYgJzZAPXCAmj4EAwDIgIbtxJQGFAEAIBbLFlNN48YAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}

 
.icon-user {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAQCAYAAADNo/U5AAAAyUlEQVQoU2NkIAMwYtETABTLh4o/ANKFQPwBWR26pgSg5Hw0g0AaDZE1omsCmciPxXaQbRNg4siaBICC73F4cSNQHORsMEC36T8OTY1A8QZcmkAS9WgaPwL5Ctj8BBKMB+KLUAUJQFofiEHOAvnFHogfAPFCmPNAfrkPxCAaBA4A8QaoIgcgDTIAJjcRyC4A+QlkEixeoPrwUoogTRegTiFGA0hNIkgTrhDDZUgj2ZpAHgeFDrEA7DwFaGDAQgifZpAFDdhSOUEbAfVsIfGDsbFJAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}

