{{=<% %>=}}
\documentclass[11pt,a4paper]{moderncv}

\moderncvtheme[black]{classic}

\usepackage[utf8]{inputenc}
\usepackage[scale=0.8]{geometry}

<%#bio_data%>
\firstname{<%firstname%>}
\familyname{\mbox{<%familyname%>}}
\title{\small <%#stars%><%#items%><%name%><%^last%> $\star$ <%/last%><%/items%><%/stars%>}
<%#phone%>\phone{<%.%>}<%/phone%>
<%#email%>\email{<%.%>}<%/email%>
<%#website%>\homepage{<%& .%>}<%/website%>
<%#linkedin_url%>\social[linkedin]{<%& .%>}<%/linkedin_url%>
<%#github_url%>\social[github]{<%& .%>}<%/github_url%>

% the ConTeXt symbol
\def\ConTeXt{%
  C%
  \kern-.0333emo%
  \kern-.0333emn%
  \kern-.0667em\TeX%
  \kern-.0333emt}

% command and color used in this document, independently from moderncv 
\definecolor{see}{rgb}{0.5,0.5,0.5}% for web links
\newcommand{\up}[1]{\ensuremath{^\textrm{\scriptsize#1}}}% for text subscripts
\renewcommand{\labelitemi}{$\circ$}

%----------------------------------------------------------------------------------
%            content
%----------------------------------------------------------------------------------
\begin{document}
\maketitle
\vspace*{-1cm}

<%#skills%>
\section{\textsc{Technical Skills}}
	<%#details%>
		\cvitem{\textbullet}{\textbf{<%type%>}: <%#items%><%name%><%^last%>, <%/last%><%/items%>}
	<%/details%>
<%/skills%>

<%#github_projects%>
\section{\textsc{Github Projects}}
	<%#details%>
		\cvitem{\textbullet}{\textbf{\href{http://github.com/<%project_name%>}{<%project_name%>}}<%#tagline%> - <%& .%><%/tagline%>}
		\vspace*{-0.15cm}
		\cvitem{}{
			{\footnotesize 
				\begin{itemize}
				<%#description%>\item <%& .%><%/description%>	
				\end{itemize}
			}
		}
		\vspace*{-0.5cm}
	<%/details%>
<%/github_projects%>

<%#experience%>
\section{\textsc{Professional Experience}}
%    \cventry{years}{degree/job title}{institution/employer}{localization}{grade}{description}
	<%#items%>
		\cventry{<%from%> - <%to%>}{<%title%>}{<%organisation%>}{<%location%>}{}{
			{\footnotesize 
				\begin{itemize}
				<%#details%>\item <%& .%><%/details%>	
				<%#technology_used%>
				\item Technologies got to work on:
				<%#tools%><%name%><%^last%>, <%/last%><%/tools%>
				<%/technology_used%>
				\end{itemize}
			}
		}
	<%/items%>
<%/experience%>

<%#other_projects%>
\section{\textsc{Other Projects}}
	<%#items%>
		\cvitem{\textbullet}{<%& headline%>}
		\vspace*{-0.15cm}
		\cvitem{}{
			{\footnotesize 
				\begin{itemize}
				<%#points%>\item <%& .%><%/points%>	
				<%#technology_used%>
				\item Technologies got to work on:
				<%#tools%><%name%><%^last%>, <%/last%><%/tools%>
				<%/technology_used%>
				\end{itemize}
			}
		}
		\vspace*{-0.5cm}
	<%/items%>
<%/other_projects%>

<%#education%>
\section{\textsc{Education}}
%    \cventry{years}{degree/job title}{institution/employer}{localization}{grade}{description}
<%#schools%>
\cventry{<%graduation_year%>}{<%degree%><%#major%>, <%major%><%/major%>}{<%institution%>}{}{GPA: <%gpa%>}{}
<%/schools%>
<%/education%>

<%#acad_achievements%>
\section{\textsc{Academic Achievements}}
	<%#items%>
		% \cvitem{LHS}{RHS}
		\cvitem{\textbullet}{<%& .%>}
	<%/items%>
<%/acad_achievements%>

<%#grad_courses%>
\section{\textsc{Graduate courses taken}}
	<%#rows%>
		\cvlistdoubleitem
		<%#columns%>{<%#name%>\href{<%& url%>}{<%name%>}<%/name%>}<%/columns%>	
	<%/rows%>
<%/grad_courses%>

<%#undergrad_courses%>
\section{\textsc{Undergraduate courses taken}}
	<%#rows%>
		\cvlistdoubleitem
		<%#columns%>{<%#name%>\href{<%& url%>}{<%name%>}<%/name%>}<%/columns%>	
	<%/rows%>
<%/undergrad_courses%>

<%/bio_data%>
\end{document}
%% end of file `page.tex'.

