{{#settings}}
	{{#icons}}
		<link rel="stylesheet" type="text/css" href="public/css/font-awesome.min.css" />
	{{/icons}}
{{/settings}}
<link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="public/css/screen.css" />
<div id="page">
{{#bio_data}}
	<span class="hidden-xs">
		<div class="contact-details">
			{{#email}}
			<i class="fa fa-envelope"></i> {{email}}<br/>
			{{/email}}
			{{#phone}}
			<i class="fa fa-phone fa-lg"></i> {{phone}}<br/>
			{{/phone}}
			{{#website}}
			<i class="fa fa-globe fa-lg"></i>
			<a href="{{website}}"> {{website}}</a>
			{{/website}}
		</div>
	</span>
	
	<h1 class="emphnext">{{firstname}} {{familyname}}</h1><br/>
	{{#stars}}
	<span class="stars">
		 {{#items}}
		 {{name}} {{^last}}<i class="fa fa-star-o"></i>{{/last}}
		 {{/items}}
	</span>
	{{/stars}}
	<br/>

	{{#summary}}
	<h2><i class="fa fa-user"></i> Qualification Summary</h2>
	<ul>
		{{#points}}
		<li>{{{.}}}</li>
		{{/points}}
	</ul>
	{{/summary}}

	{{#github_projects}}
	<h2><i class="fa fa-github fa-lg"></i> GitHub Projects</h2>
	<ul>
	{{#details}}
		<li><a href="https://github.com/{{project_name}}">{{project_name}}</a>
		{{#tagline}} &raquo; {{{tagline}}}{{/tagline}}
			<ul>
				{{#description}}
				<li>{{{.}}}</li>
				{{/description}}
			</ul>
		</li>
	{{/details}}
	</ul>
	{{/github_projects}}

	{{#skills}}
	<h2><i class="fa fa-th-list"></i> Technical skills</h2>
	<ul class="languages">
		{{#details}}
		<li>{{type}}: 
			{{#items}}
			<span class="label label-default">{{name}}</span>
			{{/items}}
		</li>
		{{/details}}
	</ul>
	{{/skills}}

	{{#education}}
	<h2><i class="fa fa-book"></i> Education</h2>
	<table class="table education">
		<tr>
			<th>Degree</th><th>Major</th><th>Institution</th><th nowrap>Graduation Year</th>{{#show_gpa}}<th>GPA</th>{{/show_gpa}}
		</tr>
		{{#schools}}
		<tr>
			<td>{{degree}}</td><td>{{major}}</td><td>{{institution}}</td><td align="center">{{graduation_year}}</td>{{#show_gpa}}<td>{{gpa}}</td>{{/show_gpa}}
		</tr>
		{{/schools}}
	</table>
	{{/education}}

	{{#acad_achievements}}
	<h2><i class="fa fa-graduation-cap"></i> Academic Achievements</h2>
	<ul>
		{{#items}}
		<li>{{{.}}}</li>
		{{/items}}
	</ul>
	{{/acad_achievements}}

	{{#experience}}
	<h2><i class="fa fa-briefcase"></i> Professional Experience</h2>
	<ul>
		{{#items}}
		<li>{{title}} at {{{organisation}}}{{#location}}, {{{location}}}{{/location}}
			<span class="right">({{from}} – {{to}})</span>
			<ul>
				{{#details}}
				<li>{{{.}}}</li>
				{{/details}}
				{{#technology_used}}
				<li>Technologies got to work on: 
					{{#tools}}
					<span class="label label-default">{{name}}</span>
					{{/tools}}
				</li>
				{{/technology_used}}
			</ul>
		</li>
		{{/items}}
	</ul>
	{{/experience}}

	{{#other_projects}}
	<h2><i class="fa fa-gear"></i> Other Personal Projects</h2>
	<ul>
		{{#items}}
		<li>
			{{{headline}}}
			<ul>
				{{#points}}
				<li>{{{.}}}</li>
				{{/points}}
				{{#technology_used}}
				<li>Technologies got to work on: 
					{{#tools}}
					<span class="label label-default">{{name}}</span>
					{{/tools}}
				</li>
				{{/technology_used}}			
			</ul>
		</li>
		{{/items}}
	</ul>
	{{/other_projects}}

	{{#grad_courses}}
	<h2><i class="fa fa-university"></i> Graduate Courses Taken</h2>
	<table class="table education">
		{{#rows}}
		<tr>
			{{#columns}}
			<td><a href="{{url}}">{{name}}</a></td>
			{{/columns}}
		</tr>
		{{/rows}}
	</table>
	{{/grad_courses}}

	{{#undergrad_courses}}
	<h2><i class="fa fa-bookmark"></i> Undergraduate Courses Taken</h2>
	<table class="table education">
		{{#rows}}
		<tr>
			{{#columns}}
			<td><a href="{{url}}">{{name}}</a></td>
			{{/columns}}
		</tr>
		{{/rows}}
	</table>
	{{/undergrad_courses}}

	{{#research_experience}}
	<h2><i class="fa fa-pencil"></i> Research Experience</h2>
	<ul>
		{{#items}}
		<li>
			{{title}} at {{{organisation}}}
			<span class="right">({{from}} – {{to}})</span>
			<ul>
				{{#points}}
				<li>{{{.}}}</li>
				{{/points}}
			</ul>
		</li>
		{{/items}}
	</ul>
	{{/research_experience}}

	{{#patents}}
	<h2><i class="fa fa-file"></i> Patents</h2>
	<ul>
		{{#items}}
		<li>{{patent_id}} 
			<a href="{{url}}">{{title}}</a> 
			{{#issuance_date}}, issued {{issuance_date}}{{/issuance_date}}.
		</li>
		{{/items}}
	</ul>
	{{/patents}}

	{{#papers}}
	<h2><i class="fa fa-pencil-square-o"></i> Publications</h2>
	<ul>
		{{#items}}
		<li>{{authors}} 
			<a href="{{url}}">{{title}},</a> 
			 {{{misc}}}.
		</li>
		{{/items}}
	</ul>
	{{/papers}}

	{{#memberships}}
	<h2><i class="fa fa-globe"></i> Memberships</h2>
	<ul>
		{{#committees}}
		<li>{{{.}}}</li>
		{{/committees}}
	</ul>	
	{{/memberships}}
	
	{{#extra_curricular}}
	<h2><i class="fa fa-music"></i> Extra Curricular Awards</h2>
	<ul>
		{{#items}}
		<li>{{{.}}}</li>
		{{/items}}
	</ul>
	{{/extra_curricular}}

	<br />
	<span class="visible-xs" text-size="80%">
		{{#email}}
		<i class="fa fa-envelope"></i> {{email}}<br />
		{{/email}}
		{{#phone}}
		<i class="fa fa-phone fa-lg"></i> {{phone}}<br />
		{{/phone}}
		{{#website}}
		<i class="fa fa-globe fa-lg"></i><a href="{{website}}"> {{website}}</a>
		{{/website}}
	</div></span>

{{/bio_data}}
</div><!-- End Page -->