{{#settings}}
	{{#icons}}
	<script>
	    /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
	    window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!!t.document.createElementNS&&!!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect&&!!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1"),A=function(A){var o=t.document.createElement("link"),r=t.document.getElementsByTagName("script")[0];o.rel="stylesheet",o.href=e[A&&n?0:A?1:2],r.parentNode.insertBefore(o,r)},o=new t.Image;o.onerror=function(){A(!1)},o.onload=function(){A(1===o.width&&1===o.height)},o.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
	    grunticon( [ "public/css/icons.data.svg.css", "public/css/icons.data.png.css", "public/css/icons.fallback.css" ] );
	    </script>
	    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css" />
	{{/icons}}
{{/settings}}
<link rel="stylesheet" type="text/css" href="public/css/screen.css" />
<div id="page">
{{#bio_data}}
	<span class="hidden-xs">
		<div class="contact-details">
			{{#email}}
			<div class="icon-envelope" style="width: 16px; height: 16px; display:inline-block"></div> {{email}}<br />
			{{/email}}
			{{#phone}}
			<div class="icon-phone" style="width: 16px; height: 16px; display:inline-block"></div> {{phone}}<br />
			{{/phone}}
			{{#website}}
			<div class="icon-globe" style="width: 16px; height: 16px; display:inline-block"></div><a href="{{website}}"> {{website}}</a>
			{{/website}}
		</div>
	</span>
	
	<h1 class="emphnext">{{firstname}} {{familyname}}</h1><br/>
	{{#stars}}
	<span class="stars">
		 {{#items}}
		 {{name}} {{^last}}<span class="glyphicon glyphicon-star-empty"></span>{{/last}}
		 {{/items}}
	</span>
	{{/stars}}
	<br/>

	{{#summary}}
	<h2><div class="icon-user" style="width: 16px; height: 16px; display:inline-block"></div> ##summary##</h2>
	<ul>
		{{#points}}
		<li>{{{.}}}</li>
		{{/points}}
	</ul>
	{{/summary}}

	{{#github_projects}}
	<h2><div class="icon-github" style="width: 16px; height: 16px; display:inline-block"></div> ##github_projects##</h2>
	<ul>
	{{#details}}
		<li><a href="https://github.com/{{project_name}}">{{project_name}}</a>
		{{#tagline}} &raquo; {{{tagline}}}{{/tagline}}
			<ul>
				{{#description}}
				<li>{{{.}}}</li>
				{{/description}}
			</ul>
		</li>
	{{/details}}
	</ul>
	{{/github_projects}}

	{{#skills}}
	<h2><div class="icon-th-list" style="width: 16px; height: 16px; display:inline-block"></div> ##skills##</h2>
	<ul class="languages">
		{{#details}}
		<li>{{type}}: 
			{{#items}}
			<span class="label label-default">{{name}}</span>
			{{/items}}
		</li>
		{{/details}}
	</ul>
	{{/skills}}

	{{#education}}
	<h2><div class="icon-th-list" style="width: 16px; height: 16px; display:inline-block"></div> ##education##</h2>
	<div class="table-responsive">
		<table class="table education">
			<tr>
				<th>##degree##</th><th>##major##</th><th>##institution##</th><th nowrap>##graduation_year##</th>{{#show_gpa}}<th>##gpa##</th>{{/show_gpa}}
			</tr>
			{{#schools}}
			<tr>
				<td>{{degree}}</td><td>{{major}}</td><td>{{institution}}</td><td align="center">{{graduation_year}}</td>{{#show_gpa}}<td>{{gpa}}</td>{{/show_gpa}}
			</tr>
			{{/schools}}
		</table>
	</div>
	{{/education}}

	{{#acad_achievements}}
	<h2><div class="icon-mortar-board" style="width: 21px; height: 16px; display:inline-block"></div> ##acad_achievements##</h2>
	<ul>
		{{#items}}
		<li>{{{.}}}</li>
		{{/items}}
	</ul>
	{{/acad_achievements}}

	{{#experience}}
	<h2><div class="icon-briefcase" style="width: 16px; height: 16px; display:inline-block"></div> ##experience##</h2>
	<ul>
		{{#items}}
		<li>{{title}}, {{{organisation}}}{{#location}}, {{{location}}}{{/location}}
			<span class="right">({{from}} – {{to}})</span>
			<ul>
				{{#details}}
				<li>{{{.}}}</li>
				{{/details}}
				{{#technology_used}}
				<li>##technology_used##: 
					{{#tools}}
					<span class="label label-default">{{name}}</span>
					{{/tools}}
				</li>
				{{/technology_used}}
			</ul>
		</li>
		{{/items}}
	</ul>
	{{/experience}}

	{{#other_projects}}
	<h2><div class="icon-gear" style="width: 16px; height: 16px; display:inline-block"></div> ##other_projects##</h2>
	<ul>
		{{#items}}
		<li>
			{{{headline}}}
			<ul>
				{{#points}}
				<li>{{{.}}}</li>
				{{/points}}
				{{#technology_used}}
				<li>Technologies got to work on: 
					{{#tools}}
					<span class="label label-default">{{name}}</span>
					{{/tools}}
				</li>
				{{/technology_used}}			
			</ul>
		</li>
		{{/items}}
	</ul>
	{{/other_projects}}

	{{#grad_courses}}
	<h2><div class="icon-institution" style="width: 16px; height: 16px; display:inline-block"></div> ##grad_courses##</h2>
	<table class="table education">
		{{#rows}}
		<tr>
			{{#columns}}
			<td><a href="{{url}}">{{name}}</a></td>
			{{/columns}}
		</tr>
		{{/rows}}
	</table>
	{{/grad_courses}}

	{{#undergrad_courses}}
	<h2><div class="icon-bookmark" style="width: 16px; height: 16px; display:inline-block"></div> ##undergrad_courses##</h2>
	<table class="table education">
		{{#rows}}
		<tr>
			{{#columns}}
			<td><a href="{{url}}">{{name}}</a></td>
			{{/columns}}
		</tr>
		{{/rows}}
	</table>
	{{/undergrad_courses}}

	{{#research_experience}}
	<h2><div class="icon-edit" style="width: 16px; height: 16px; display:inline-block"></div> ##research_experience##</h2>
	<ul>
		{{#items}}
		<li>
			{{title}}, {{{organisation}}}
			<span class="right">({{from}} – {{to}})</span>
			<ul>
				{{#points}}
				<li>{{{.}}}</li>
				{{/points}}
			</ul>
		</li>
		{{/items}}
	</ul>
	{{/research_experience}}

	{{#patents}}
	<h2><div class="icon-file" style="width: 16px; height: 16px; display:inline-block"></div> ##patents##</h2>
	<ul>
		{{#items}}
		<li>{{patent_id}} 
			<a href="{{url}}">{{title}}</a> 
			{{#issuance_date}}, ##issuance## {{issuance_date}}{{/issuance_date}}.
		</li>
		{{/items}}
	</ul>
	{{/patents}}

	{{#papers}}
	<h2><div class="icon-edit" style="width: 16px; height: 16px; display:inline-block"></div> ##papers##</h2>
	<ul>
		{{#items}}
		<li>{{authors}} 
			<a href="{{url}}">{{title}},</a> 
			 {{{misc}}}.
		</li>
		{{/items}}
	</ul>
	{{/papers}}

	{{#memberships}}
	<h2><div class="icon-globe" style="width: 16px; height: 16px; display:inline-block"></div> ##memberships##</h2>
	<ul>
		{{#committees}}
		<li>{{{.}}}</li>
		{{/committees}}
	</ul>	
	{{/memberships}}
	
	{{#extra_curricular}}
	<h2><div class="icon-music" style="width: 16px; height: 16px; display:inline-block"></div> ##extra_curricular##</h2>
	<ul>
		{{#items}}
		<li>{{{.}}}</li>
		{{/items}}
	</ul>
	{{/extra_curricular}}

	<br />
	<span class="visible-xs" text-size="80%">
		{{#email}}
		<div class="icon-envelope" style="width: 16px; height: 16px; display:inline-block"></div> {{email}}<br />
		{{/email}}
		{{#phone}}
		<div class="icon-phone" style="width: 16px; height: 16px; display:inline-block"></div> {{phone}}<br />
		{{/phone}}
		{{#website}}
		<div class="icon-globe" style="width: 16px; height: 16px; display:inline-block"></div><a href="{{website}}"> {{website}}</a>
		{{/website}}
	</div></span>

{{/bio_data}}
</div><!-- End Page -->
