##Prateek Agarwal
[http://prat0318.github.io](http://prat0318.github.io) prat0318@gmail.com (512)698-3649

Ruby - Python - Git - Cartooning

###Qualifications summary
* Competent at managing responsibilities in a high-volume atmosphere
* Hard worker, quick learner, and ability to assume responsibility

###GitHub Summary
* [prat0318/gitator](http://github.com/prat0318/gitator) : Live at [Gitator.com](http://gitator.com)
    - Finds relevant repositories based on an user's GitHub profile.

###Technical Skills
* **Programming Languages**: `Ruby` `Python` `C++`
* **Web Frameworks**: `Django` `Rails`

###Education
Degree | Major | Institution | Graduation Year | GPA
:--:|:--:|:--:|:--:|:--:
Master of Science | Computer Science | University of Texas at Austin | 2015 | 3.33/4

###Academic Achievements
* Was among the top 5% in the institute merit list of the undergraduate batch at IIT Kharagpur.

###Professional Experience
* Graduate Research Assistant at CTR, UT Austin (Sept. 2013 – Jan. 2014)
    - Developed a common web interface [http://unitydatabase.com](http://unitydatabase.com) to search through different datasets and output aggregate results and ensuring easy pluggability of new datasets.
    - Technologies got to work on: `Python` `Django` `South` `PostgreSQL`

###Graduate Courses Taken
* [Distributed Computing]()

###Patents
* US Patent 5,146,634 **Three zone bed cover with an inflatable human form.** ,issued September 15, 1992.
