{{#bio_data}}
##{{firstname}} {{familyname}}
[{{website}}]({{website}}) {{#email}}`{{email}}`{{/email}} {{#phone}}`{{phone}}`{{/phone}}

{{#stars}}
{{#items}}{{name}}{{^last}} - {{/last}}{{/items}}
{{/stars}}

{{#summary}}
###Qualifications summary
{{#points}}
* {{{.}}}
{{/points}}
{{/summary}}

{{#github_projects}}
###GitHub Summary
{{#details}}
* [{{project_name}}](http://github.com/{{project_name}}){{#tagline}} : {{tagline}}{{/tagline}}
{{#description}}
    - {{{.}}}
{{/description}}
{{/details}}
{{/github_projects}}

{{#skills}}
###Technical Skills
{{#details}}
* **{{type}}**: {{#items}}`{{name}}` {{/items}}
{{/details}}
{{/skills}}

{{#education}}
###Education
Degree | Major | Institution | Graduation Year{{#show_gpa}} | GPA{{/show_gpa}}
:--:|:--:|:--:|:--:{{#show_gpa}}|:--:{{/show_gpa}}
{{#schools}}
{{degree}} | {{major}} | {{institution}} | {{graduation_year}}{{#show_gpa}} | {{gpa}}{{/show_gpa}}
{{/schools}}
{{/education}}

{{#acad_achievements}}
###Academic Achievements
{{#items}}
* {{{.}}}
{{/items}}
{{/acad_achievements}}

{{#experience}}
###Professional Experience
{{#items}}
* {{title}} at {{{organisation}}}{{#location}}, {{{location}}}{{/location}} ({{from}} – {{to}})
{{#details}}
    - {{{.}}}
{{/details}}
{{#technology_used}}
    - Technologies got to work on: {{#tools}}`{{name}}` {{/tools}}
{{/technology_used}}
{{/items}}
{{/experience}}

{{#other_projects}}
###Other Personal Projects
{{#items}}
* {{{headline}}}
{{#points}}
    - {{{.}}}
{{/points}}
{{#technology_used}}
    - Technologies got to work on: {{#tools}}`{{name}}` {{/tools}}
{{/technology_used}}
{{/items}}
{{/other_projects}}

{{#grad_courses}}
###Graduate Courses Taken
{{#rows}}
{{#columns}}
{{#name}}* [{{name}}]({{url}}){{/name}}
{{/columns}}
{{/rows}}
{{/grad_courses}}

{{#undergrad_courses}}
###Undergraduate Courses Taken
{{#rows}}
{{#columns}}
{{#name}}* [{{name}}]({{url}}){{/name}}
{{/columns}}
{{/rows}}
{{/undergrad_courses}}

{{#research_experience}}
###Research Experience
{{#items}}
* {{title}} at {{{organisation}}} ({{from}} – {{to}})
{{#points}}
    - {{{.}}}
{{/points}}
{{/items}}
{{/research_experience}}

{{#patents}}
###Patents
{{#items}}
* {{patent_id}} - **[{{title}}]({{url}})**{{#issuance_date}}, issued {{issuance_date}}{{/issuance_date}}.
{{/items}}
{{/patents}}

{{#papers}}
###Publications
{{#items}}
* {{authors}} **[{{title}}]({{url}})** {{{misc}}}.
{{/items}}
{{/papers}}

{{#memberships}}
###Memberships
{{#committees}}
* {{{.}}}
{{/committees}}
{{/memberships}}

{{#extra_curricular}}
###Extra Curricular Awards
{{#items}}
* {{{.}}}
{{/items}}
{{/extra_curricular}}
{{/bio_data}}
